[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ps = push
	pl = pull
	psf = push -f
[user]
	name = Josh Minnich
	email = joshminnich@gmail.com
	signingkey = B51CDD825BC86E31A3104322DD79904C0670DE71
[commit]
	gpgsign = true
